@import 'styles/themes/theme';

.reset {
  @include themify($themes) {
    text-align: center;
    background: url('/static/images/set-password-bg.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 100vw;
    height: calc(100vh - 70px - 220px);
    position: relative;
    .reset-form {
      border-radius: 5px;
      padding: 50px;

      margin: 0px auto;
      width: 500px;
    }
    .mask {
      position: absolute;
      width: 100%;
      height: calc(100vh - 70px - 220px);
      background-color: rgba(28, 44, 70, 0.6);
      display: flex;
      align-items: center;
    }
  }
}
