.custom-col {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  max-width: calc(100vw - 344px);

  @include media-breakpoint-down(lg) {
    // width: 100%;
    // max-width: 670px;
  }
}

.sidebar {
  max-width: 320px;
  width: 100%;
}


 @media (max-width: 1500px) {
  .custom-col {
    width: 100%;
    max-width: calc(100vw - 344px)
  }
  .sidebar {
    max-width: 320px;
  }
 }
 @media (max-width: 1279px) {
  .custom-col {
    max-width: calc(100vw - 344px)
  }
  .sidebar {
    max-width: 320px;
  }
 }
 @media (max-width: 1199px) {
  .custom-col {
    max-width: calc(100vw - 344px)
  }
  .sidebar {
    max-width: 320px;
  }
 }
 @media (max-width: 980px) {
  .custom-col {
    max-width: calc(100vw - 344px)
  }
  .sidebar {
    max-width: 320px;
  }
 }
 @media (max-width: 870px) {
  .custom-col {
    max-width: calc(100vw - 344px)
  }
  .sidebar {
    max-width: 320px;
  }
 }
 @media (max-width: 767px) {
  .custom-col {
    max-width: 100vw;
  }
  .sidebar {
    max-width: 100vw;
  }
 }
