@import 'styles/common/mixins';
@import 'styles/themes/dark/variables';

.custom-alert {
  display: inline-block;
  @include rem(12);
  margin-right: 0.5rem;
  text-transform: lowercase;

  .close {
    right: auto;
    left: 0;
    padding: 0.4rem 0.6rem;
    @include rem(18);
  }

  &.alert-dismissible {
    padding: 0.4rem 1.5rem;
    padding-left: 2rem;
    padding-right: 1.5rem;
  }
}

.item-container {
  min-height: 50px;
}
